* {
    font-family: "Roboto";
}

.link-unstyled {
    text-decoration: none;
    color: rgb(108,117,125);
    cursor: pointer;
}

footer{
    background-color: #F6FFED;
}

.dropdown-item:hover{
    background-color: #d9f7be!important;
}

.selected-item {
    border-color: #95de64!important;
    color: #95de64!important;
}
